<% include partials/header %>
<div class="container">
    <div class="header">
        <a href="/agua">Água</a>    
        <a href="/electricidade">Electicidade</a>
        <a href="/gas">Gás</a>
    </div>
</div>
<% include partials/footer %>